:root{
  --white:#F7F9F2;
  --lightblue:#68D2E8;
  --yellow:#FDDE55;
  --red:#E4003A;


}

body,h2{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;

}

.landing{

    background-image: url("../images/pexels-satyam-verma-2901977-4439740.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    color:var(--white)
}

header a {
       text-decoration: none;
       color:var(--yellow);

}
header{

    display: flex;
    /* flex-wrap: wrap; */
    padding: 1em;
}


#logo{

    flex: 3;
    font-size: 1.25em;
    min-width: 150px;
}
nav{

 flex:2;
 display: flex;
}
 nav a{
    flex: 1;
 }
 nav a:hover{
    color:var(--red);
 }
 .Maintext{
      display: flex;
      flex-direction: column;
      height: 70vh;
      justify-content: space-around;
      padding: 2em;

 }
 .tagline1{

    color: var(--red);
    font-size: 20px;
    font-weight: bolder;
    


 }
 
.tagline2{
    color:yellow;
}
.Maintext div{
   margin-top: .75em;
}
.Maintext button{
    width: 15vw;
    border-radius: 10px;
    padding: .7em;
    background-color: var(--lightblue);
    color: black;
    border: 1px solid var(--yellow);

}
.tagline2{
    color:var(--yellow);
}

#menuheading,#locheading{
    background:linear-gradient(to right,rgb(100, 100, 100),rgb(53, 52, 52));
    font-size:2.5em;
    color:var(--red);
    display: flex;
    justify-content: center;

}
.Menu th{
    color: green;
    font-size: 1.8em;
}
table{
    width: 100%;
    padding: 1em;
}
.Menu tr{
    display: flex;
    justify-content: centre;
    margin-top: 8em;

}
.Menu td:nth-child(1){
    flex: 1;
    justify-self: left;
}

.Menu td:nth-child(2){
    justify-self: right;
}
.maincourse{
    grid-row: span 2;

}
.menu{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(320px,1fr));
    background:linear-gradient(to right,rgb(100, 100, 100),rgb(53, 52, 52));
}

.locations{
    display:flex;
    flex-wrap: wrap;
    justify-items: center;
    background:linear-gradient(to right,rgb(100, 100, 100),rgb(53, 52, 52));
}
.locheading{
    font-size:1.75em;
    color:var(--red);
    display: flex;
    justify-content: center;
}
.locations div{
    padding:1em;
    flex:1;
}

.locations div h2{
    color: var(--green);
    margin-bottom: .8em;
}

footer{
    background-color: rgb(55, 55, 55);
    color:var(--white);
    padding:.25em 1em;
}

#copyright{
    margin-left:20px;
}
.social-menu ul{
    display: flex;
    padding:0;
}

.social-menu ul li{
    list-style: none;
    display:inline-block;
    margin: 0 15px;
}

.social-menu ul li .fab{
    font-size: 25px;
    line-height: 40px;
    transition: .3s;
    color: #000;
}

.social-menu ul li .fab:hover{
    color: #fff;
}

.social-menu ul li a{
    position: relative;
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 40%;
    background-color: #fff;
    text-align: center;
    transition: .6s;
    box-shadow: 0 5px 4px rgba(0,0,0,.5);
}

.social-menu ul li a:hover{
    transform: translate(0, -10%);
}

.social-menu ul li:nth-child(1) a:hover{
    background-color: #4267B2;
}
.social-menu ul li:nth-child(2) a:hover{
    background-color: #E4405F;
}
.social-menu ul li:nth-child(3) a:hover{
    background-color: #00ACEE;
}





